body {
  font-family: "karla", sans-serif; }

.container {
  width: 375px;
  height: 810px;
  border: 2px solid black;
  margin: 0 auto;
  text-align: left; }
  .container #join {
    background: white;
    padding-left: 30px;
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 250px; }
    .container #join #join-text {
      color: #2ab2af; }
    .container #join #join-paragraph {
      color: #98a6bd;
      line-height: 26px; }
    .container #join #hassle {
      color: #c0df34; }
  .container #subscription {
    background: #2ab2af;
    padding-left: 30px;
    padding-right: 23px;
    padding-top: 15px;
    color: white;
    height: 250px; }
    .container #subscription #access {
      color: white; }
    .container #subscription button {
      width: 290px;
      padding: 1.4em;
      border-radius: 8px;
      font-family: "karla", sans-serif;
      background-color: #c0df34;
      color: white;
      position: relative;
      border: none; }
    .container #subscription span {
      color: #d2e0e9; }
  .container #why {
    background: #2fcac8;
    padding-left: 30px;
    padding-right: 23px;
    padding-top: 15px;
    height: 250px; }
    .container #why-us {
      color: white; }
    .container #why #features-text {
      color: #d2e0e9;
      line-height: 6px;
      text-align: left; }

@media screen and (min-width: 1000px) {
  .container {
    width: 740px;
    height: 475px;
    border: 2px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 370px 370px;
    grid-template-rows: 200px 100px; }
  #join {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; }
  #subscription {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 260px; }
  #why {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 260px; } }
